/*CONFIGURAÇÃO GLOBAL*/
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+DE+VA+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
  font-family: 'Android';
  src: url('/fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fontes/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 400 700; /* Define os pesos que a fonte suporta */
  font-style: normal;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", serif;
  --fonte-android: 'Android', serif;
  --fonte-pesonalizada: 'Dancing Script', serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*****************************************************************************************/



/*CONFIGURAÇÃO DO BODY*/
body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}
/*****************************************************************************************/



/*CONFIGURAÇÃO DO HEADER*/
header {
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif;
}

header > h1 {
  text-align: center;
  color: rgb(236, 226, 226);
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 45px;
  text-shadow: 1px 1px 4px;
}

header p {
  padding-top: 10px;
  color: white;
  text-align: justify;
  font-size: 1.2em;
}
/*****************************************************************************************/



/*CONFIGURAÇÃO DO MENU E SUBMENU*/
.btn-social button {
  width: 50px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
  position: relative;
  left: 43vw;
  bottom: 20vh;
  color: white;
  font-weight: bolder;
}

.bottom-header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.bottom-header nav ul li a {
  color: white;
  padding: 10px 38px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  display: block;
  transition: .1s;
}

.bottom-header nav ul li a:hover {
  background-color: var(--cor2);
  color: var(--cor5);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.658);
}

.drop-hover{
  /* position: relative; */
  display: flex;
  flex-direction: row;
}

.drop-hover .drop{
  /* position: absolute; */
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.drop-hover .drop a{
  padding: 20px;
}

.drop-hover:hover .drop{
  height: 1000px;
}
/*****************************************************************************************/



/*CONFIGURAÇÕES DO MAIN*/
main{
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1{
  color: var(--cor5);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 1.8em;
}

main h2{
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.3em;
  font-weight: normal;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
}

main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 20px;
  line-height: 2em;
}

main strong{
  color: var(--cor4);
  font-weight: bold;
}

main a{
  text-decoration: none;
  font-style: italic;
  color: var(--cor5);
  font-weight: bolder;
  background-color: #0f9e4f63;
}

/*configurações da imagem do main*/
main img{
  width: 100%;
  height: 70vh;
  margin-bottom: 10px;
}

a.externo::after {
  content: '🔗';
}

/*configurações da imagem do main*/
div.video{
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
}

div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
/*****************************************************************************************/




/*CONFIGURAÇÕES DO FOOTER*/
footer{
  background-color: var(--cor5);
  color: white;
  position: relative;
}

footer div.logo-rodape{
  position: relative;
  left: 82.5vw;
}


div.footer-texto > h2{
  font-family: var(--fonte-padrao);
  padding: 10px;
  font-style: italic;
  font-size: 2em;
  
}

div.footer-texto > p.slogan{
  font-family: var(--fonte-pesonalizada);
  font-weight: bolder;
  font-style: italic;
  font-size: 1.5em;
  padding-left: 15px;
  position: relative;
  bottom: 3.5vh;
}
/*****************************************************************************************/


